<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp1ab36eb1a593417784043e828b00b2cc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp1ab36eb1a593417784043e828b00b2cc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp1ab36eb1a593417784043e828b00b2cc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>EVAvzwAPI</AppServiceName>
    <ResourceGroupName>EVAvzwResource</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp1ab36eb1a593417784043e828b00b2cc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=iwkxhggab4.database.windows.net;Initial Catalog=EVA18;Persist Security Info=True;User ID=EVAdb;Password=EVAvzw123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iwkxhggab4.database.windows.net;Initial Catalog=EVA18;User ID=EVAdb;Password=EVAvzw123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=iwkxhggab4.database.windows.net;Initial Catalog=EVA18;User Id=EVAdb;Password=EVAvzw123;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EVA18Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iwkxhggab4.database.windows.net;Initial Catalog=EVA18;User ID=EVAdb;Password=EVAvzw123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EVA18Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Entities.EVA18Model.csdl|res://*/Entities.EVA18Model.ssdl|res://*/Entities.EVA18Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iwkxhggab4.database.windows.net;initial catalog=EVA18;User Id=EVAdb;Password=EVAvzw123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=iwkxhggab4.database.windows.net;Initial Catalog=EVA18;Persist Security Info=True;User ID=EVAdb;Password=EVAvzw123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>